*{
    margin:0px;
    pading:0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --principal-bg-color: #ffffff;
  --principal-txt-color: #333333;

  --header-bg-color:#ae33Fa;
  --header-titulo-color:#ffffff;
  --margin-bg-color:#57aa34;

  --footer-bg-color:#4334ff;
  --footer-bg-color:#0000;
  --footer-btn-color:#eda65e;
}